/** Floating Labels | V 1.5 */

.floating-labels{
    // Replaces `<form>` stylizations
    margin: 2rem 0;

    /**
    * Make the field a flex-container, reverse the order so label is on top.
    */
    .form-group{
        // Replaces `.field` stylizations
        display: flex;
        flex-flow: column-reverse;
        margin-bottom: 1rem;
        
        /**
        * Add a transition to the label and input.
        * I'm not even sure that touch-action: manipulation works on
        * inputs, but hey, it's new and cool and could remove the 
        * pesky delay.
        */

        label, input, textarea{
            transition: all 0.2s;
            touch-action: manipulation;
        }

        input,textarea{
            font-size: 1.5rem;
            border: 0;
            border-bottom: .1rem solid #ccc;
            -webkit-appearance: none;
            padding: 1rem;
            cursor: text;

            /**
            * Target focussed input
            **/
            &:focus {
                outline: 0;
                border-bottom: .3rem solid blue;
            }

            /**
            * Target un-focussed input placeholder, remove opacity until focussed
            **/
            &::-webkit-input-placeholder{
                opacity: 0;
            }

            &:focus::-webkit-input-placeholder{
                opacity: 1;
            }

            /**
            * Target an input that has text in it, remove placeholder opacity
            **/
            &:not(:empty)::-webkit-input-placeholder {
                opacity: 0;
            }

            /**
            * When the element is focused, remove the label transform.
            * Also, do this when the placeholder is _not_ shown, i.e. when 
            * there's something in the input at all.
            */

            &:focus + label {
                transform: translate(0, 0) scale(1);
                cursor: pointer;
                color: blue;
                margin-bottom: .5rem;
                margin-left: 0;
            }
        }

        /**
        * Translate down and scale the label up to cover the placeholder,
        * when following an input (with placeholder-shown support).
        * Also make sure the label is only on one row, at max 2/3rds of the
        * field—to make sure it scales properly and doesn't wrap.
        */
        input+label, textarea+label {
            cursor: text;
            max-width: 66.666%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transform-origin: left bottom;
            transform: translate(0, 2.125rem) scale(1.5);
        }

        label{
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            color: inherit;
            margin-left: .5rem;
        }
    }
}
